<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">W&T forum</a> -->
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let item of leftItems" (click)="selectActiveItem(item)" [ngClass]="{active: isActive(item)}">
        <a routerLink="{{ getRoute(item) }}">{{ item }}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let item of rightItems" (click)="selectActiveItem(item)" [ngClass]="{active: isActive(item)}">
          <a routerLink="{{ getRoute(item) }}">{{ item }}</a>
        </li>
      </ul>
  </div>
</nav>