<div class="container">
    <div class="row">
      <div class="Absolute-Center is-Responsive">
        <div id="logo-container"></div>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <form action="" id="loginForm" style="margin-top: 75px;" #loginForm="ngForm">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" name='username' placeholder="Email or username"
               required
               ngModel/>          
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" name='password' placeholder="Password"
               required
               ngModel/>     
            </div>
            <div *ngIf="!noError;">
              <p style="color: red; display:visible">{{ getErrorText() }}</p>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-def btn-block" (click)="login(loginForm)"
              [disabled]="!loginForm.valid">Login</button>
            </div>
            <div class="form-group text-center">
              <a href="#">Forgot Password</a>
            </div>
          </form>        
        </div>  
      </div>    
    </div>
  </div>