<h3>Contact</h3>
<hr>

<form action="" id="contactForm" #contactForm="ngForm">
  <label class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="Name" placeholder="Name" required ngModel />
  </div>

  <label class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="Email" placeholder="Email" required email ngModel />
  </div>

  <label class="col-sm-2 col-form-label">Subject</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="Subject" placeholder="Subject" required ngModel />
  </div>

  <label class="col-sm-2 col-form-label">Message</label>
  <div class="col-sm-10">
    <textarea class="form-control" type="text" name="Content" placeholder="Message" required ngModel></textarea>
  </div>
</form>

<button type="button" class="btn btn-primary active" (click)="send(contactForm)"
[disabled]="!contactForm.valid"
>Send</button>
