<div class="container">
  <div class="row">
    <h1 id="logo"><b>W&T community</b></h1>
  </div>
</div>

<div class="container">
  <div class="row">
      <app-header></app-header>
  </div>

  <router-outlet></router-outlet>
</div>

