#logo{
    /* background-color: darkred; */
    opacity: 50%;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    margin-bottom: 20px;    
    /* box-shadow: 2px 2px grey; */
    color: lightgray;
}