<div *ngIf="user !== null">
  <h3>Account details</h3><hr>


  <!-- <form action="" id="userDetailsForm" style="margin-top: 75px;" #userDetailsForm="ngForm">
    <div class="form-group input-group">
      <input class="form-control" type="text" name="Username" placeholder="Username" required ngModel />
    </div>

    <div class="form-group input-group">
      <input class="form-control" type="text" name="Firstname" placeholder="First name" required ngModel />
    </div>

    <div class="form-group input-group">
      <input class="form-control" type="text" name="Lastname" placeholder="Last name" required ngModel />
    </div>

    <div class="form-group input-group">
      <input class="form-control" type="text" name="Email" placeholder="Email" required email ngModel />
    </div>
  </form> -->

  <form action="" id="userDetailsForm" style="margin-top: 25px;" #userDetailsForm="ngForm">
      <label class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="Username" placeholder="Username" required ngModel />
    </div>

    <label class="col-sm-2 col-form-label">First name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="Firstname" placeholder="First name" required ngModel />
    </div>

    <label class="col-sm-2 col-form-label">Last name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="Lastname" placeholder="Last name" required ngModel />
    </div>

    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="Email" placeholder="Email" required email ngModel />
    </div>

    <button type="button" 
      style="margin-left: 12px;" class="btn btn-primary active"
      [disabled]="!userDetailsForm.dirty"
      (click)="changeDetails(userDetailsForm)">Save</button>
    <div *ngIf="detailsErrorVisible;">
        <p class="errorP">{{ detailsErrorMessage }}</p>
      </div>
  </form>

  <h3 style="margin-top: 50px;">Change password</h3><hr>

  <form action="" id="changePasswordForm" style="margin-top: 25px;" #changePasswordForm="ngForm">
    <label class="col-sm-2 col-form-label">Old password</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" name="OldPassword" placeholder="Old password" required ngModel>
    </div>

    <label class="col-sm-2 col-form-label">New password</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" name="NewPassword" placeholder="New password" required ngModel>
    </div>

    <label class="col-sm-2 col-form-label">Confirm new password</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" name="ConfirmNewPassword" placeholder="Confirm new password" required ngModel>
    </div>
    <button type="button" style="margin-left: 12px;" class="btn btn-primary active" 
    [disabled]="!changePasswordForm.dirty"
    (click) = "changePassword(changePasswordForm)">Change</button>
    <div *ngIf="passwordErrorVisible;">
        <p class="errorP">{{ passwordErrorMessage }}</p>
      </div>
  </form>
</div>