h5 {
    margin-left: 12px;
}

.form-control{
    border: 0;
    outline: 0;
    box-shadow: none;
}

input:focus{
    /* border-bottom: 2px; */

    /* width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue; */
}

.errorP{
    color: red; 
    display:visible; 
    margin-left: 12px;
    margin-top: 12px;
}