<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="loginForm" style="margin-top: 75px;" #registerForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name='firstname' placeholder="First name" required ngModel/>          
              </div> 
              <div class="form-group input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" type="text" name='lastname' placeholder="Last name" required ngModel/>          
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" type="text" name='username' placeholder="Username" required ngModel/>          
                </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" name='email' placeholder="Email" required email ngModel/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="Password" required ngModel/>     
          </div>
          <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" name='passwordConfirm' placeholder="Confirm password" required ngModel/>     
            </div>
            <div *ngIf="!noError;">
              <p style="color: red; display:visible">{{ getErrorText() }}</p>
            </div>
          <div class="form-group">
            <button type="button" class="btn btn-def btn-block" (click)="register(registerForm)"
            [disabled]="!registerForm.valid">Register</button>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>